body{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    
}

.headline-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main{
        display: block;
        font-size: 4.5rem;
        font-weight: 400;
        letter-spacing: 2.95rem;
        animation: moveinleft 1s ease-out ;
        -webkit-animation: moveinleft 1s ease-out ;

        @include respond(phone){
            font-size: 3.5rem;
            letter-spacing: 1.2rem;
        }
    }
    &--sub{
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
        width: 100%;
        animation: moveinright 1s ease-out;
        -webkit-animation: moveinright 1s ease-out;

        @include respond(phone){            
            letter-spacing: .3rem;
        }
    }
}

.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    letter-spacing: .2rem;

    @include respond(tab-port){
        font-size: 2rem;        
    }
    @include respond(phone){
        font-size: 1.5rem;        
    }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
        -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
        -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
        -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
}
}

.heading-tirtiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}